[build]
  # We added lightningcss-linux-x64-gnu to the install list
  command = "npm install @rollup/rollup-linux-x64-gnu lightningcss-linux-x64-gnu --no-save && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404