[build]
  # We add the install command for the linux binary before running the build
  command = "npm install @rollup/rollup-linux-x64-gnu --no-save && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404